
<!DOCTYPE html>
<html lang="en">
<head>
     <title>AG Charts Basic Example</title>
        <script src="https://cdn.jsdelivr.net/npm/ag-charts-community/dist/ag-charts-community.min.js">
        </script>
</head>
<body>
    <div id="myChart" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;"></div>
    <script src="main.js"></script>
</body>
</html>



<script>
   
    var data = [
        {
            beverage: 'Coffee',
            Q1: 450,
            Q2: 560,
            Q3: 600,
            Q4: 700
        },
        {
            beverage: 'Tea',
            Q1: 270,
            Q2: 380,
            Q3: 450,
            Q4: 520
        },
        {
            beverage: 'Milk',
            Q1: 180,
            Q2: 170,
            Q3: 190,
            Q4: 200
        },
    ];

    var options = {
        container: document.querySelector('#myChart'),
        data: data,
        title: {
            text: 'Beverage Expenses'
        },
        subtitle: {
            text: 'per quarter'
        },
        padding: {
            top: 40,
            right: 40,
            bottom: 40,
            left: 40
        },
        series: [
            { type: 'column', xKey: 'beverage', yKey: 'Q1', stacked: true },
            { type: 'column', xKey: 'beverage', yKey: 'Q2', stacked: true },
            { type: 'column', xKey: 'beverage', yKey: 'Q3', stacked: true },
            { type: 'column', xKey: 'beverage', yKey: 'Q4', stacked: true },
        ],
        legend: {
            spacing: 40
        },
    };

    agCharts.AgChart.create(options);
    //var data = [
    //    {
    //        Toyota: 'Toyota',
    //        Q1: 200000,
    //        Q2: 400000,
    //        Q3: 600000,
    //        Q4: 800000
    //    }
    //    ,
    //    {
    //        Porsche: 'Porsche',
    //        Q1: 250000,
    //        Q2: 380000,
    //        Q3: 450000,
    //        Q4: 520000
    //    },
    //    {
    //        Ford: 'Ford',
    //        Q1: 180000,
    //        Q2: 170000,
    //        Q3: 190000,
    //        Q4: 200000
    //    },
    //    {
    //        Lexus: 'Lexus',
    //        Q1: 190000,
    //        Q2: 180000,
    //        Q3: 200000,
    //        Q4: 210000
    //    }
    //];

    //var options = {
    //    container: document.querySelector('#myChart'),
    //    data: data,
    //    title: {
    //        text: 'Car Prices'
    //    },
    //    subtitle: {
    //        text: 'Manufacturer Wise'
    //    },
    //    padding: {
    //        top: 40,
    //        right: 40,
    //        bottom: 40,
    //        left: 40
    //    },
    //    series: [
            
    //        { type: 'column', xKey: 'Toyota', yKey: 'Q1', stacked: true },
    //        { type: 'column', xKey: 'Porsche', yKey: 'Q2', stacked: true },
    //        { type: 'column', xKey: 'Ford', yKey: 'Q3', stacked: true },
    //        { type: 'column', xKey: 'Lexus', yKey: 'Q4', stacked: true },
    //    ],
    //    legend: {
    //        spacing: 40
    //    },
    //};

    //agCharts.AgChart.create(options);

</script>


